* {
  text-decoration: none;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  color: white;
}
header {
  background-color: white;

  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;

}
body {
  background-color: gray;
}
.container {
  width: 70%;
  margin: auto;
  height: 70px;
 
}

.header-box {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
 
}
.img-box img {
  width: 130px;
  height: 80px;
}
.img-box {
  margin-top: 30px;
  z-index: 1;
}

.header-box nav ul {
  display: flex;
  justify-content: space-between;
}

.header-box nav ul li {
  margin-left: 15px;
}

.header-box nav li a {
  color: #001935;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.header-box nav li .link:link
{
  color: #ff6600;
}

.header-box nav li a:hover
{
  color: #ff6600;
}

/* main part */
.hero-banner__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #001935;
  opacity: 0.85;
}
.main-box {
  width: 100%;
  background-image: url(../images/hero-bg.jpg);
  height: 830px;
  position: relative;
}

.main-container {
  width: 70%;
  margin: auto;
}

.info {
  position: absolute;
  /* width: 900px; */
  height: 605px;
  display: flex;
  justify-content: center;
  align-items:flex-start;
  flex-flow: column wrap;
  margin-top: 65px;

}

.info h1 {
  color: white;
  /* margin: 0px 0px 15px; */
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  text-align: left;
}

.info p {
  color: #ffffff99;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  width: 750px;
  height: 65px;
  line-height: 2;
  text-align: left;
  margin-top: 10px;
 
}
.info p span {
  color: #ff6600;
  font-size: 20px;
}

.select {
  margin: 40px 0px 0px;
}

.select {
  display: flex;
  align-items: flex-end;
}

.select select {
  padding: 14px 40px 14px 20px;
  border-radius: 5px;
  background-color: #fff8d3;
  color: black;
  text-align: left;
  font-weight: 500;
  font-size: 17px;
  border: 1px solid #ffffff99;
  width: 275px;
  height: 53px;
}

.select button {
  padding: 0px 24px;
  border-radius: 5px;
  background-color: #ff6600;
  border: 1px solid #ff6600;
  font-size: 17px;
  width: 140px;
  height: 54px;
}

.select select,
button {
  margin: 0px 3px 15px;
}

.buttoms {
  margin: 30px 12px 0px 0px;
}
.buttoms .tg,
.ln,
.fb {
  width: 133px;
  height: 54px;
  border: 1px solid black;
  border-radius: 7px;
  background-color: #229ed94d;
  color: #ffffff99;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  margin: 0px 0px 5px 0px;
}

.ins {
  background: linear-gradient(
    to right bottom,
    rgba(64, 93, 230, 0.3),
    rgba(88, 81, 216, 0.3),
    rgba(131, 58, 180, 0.3),
    rgba(193, 53, 132, 0.3),
    rgba(225, 48, 108, 0.3),
    rgba(253, 29, 29, 0.3),
    rgba(245, 96, 64, 0.3),
    rgba(247, 119, 55, 0.3),
    rgba(252, 175, 69, 0.3),
    rgba(255, 220, 128, 0.3),
    rgba(255, 255, 255, 0.3)
  );
  width: 133px;
  height: 54px;
  border: 1px solid black;
  border-radius: 7px;
  color: #ffffff99;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  margin: 0px 0px 5px 0px;
}

.fb:hover
{
    background-color: rgb(65,88,208);
}
.ln:hover
{
    background-color: rgb(65,88,208);
}

.ins:hover
{
    background-color: rgb(65,88,208);
}

.tg:hover
{
    background-color: rgb(65,88,208);
}


.info  .elan p
{
  color: #ffffff99;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  margin: 0px;
  text-align: left;
  padding: 0px;
  height: 30px;
} 

.elan
{
  margin-top: 15px;
}